name: Build

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * 1

jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    container:
      image: mstorsjo/llvm-mingw:latest
    steps:
      - uses: actions/checkout@v3
        with:
          repository: libsdl-org/SDL
          path: sdl
      - uses: actions/checkout@v3
        with:
          repository: FFmpeg/FFmpeg
          path: ffmpeg
      - name: build-sdl
        run: |
          echo ${{ github.workspace }}
          mkdir -p ${{ github.workspace }}/local
          mkdir build
          cd build
          ../sdl/configure --host=aarch64-w64-mingw32 --prefix=${{ github.workspace }}/local
          make -j16
          make install
      - name: build ffmpeg
        run: |
          mkdir -p /opt/llvm-mingw/aarch64-w64-mingw32/lib/pkgconfig
          ln -s ${{ github.workspace }}/local/lib/pkgconfig/sdl2.pc /opt/llvm-mingw/aarch64-w64-mingw32/lib/pkgconfig/sdl2.pc
          # ln -s ${{ github.workspace }}/local/bin/sdl2-config ${{ github.workspace }}/local/bin/aarch64-w64-mingw32-sdl2-config
          # chmod +x ${{ github.workspace }}/local/bin/sdl2-config ${{ github.workspace }}/local/bin/aarch64-w64-mingw32-sdl2-config
          # export PATH=$PATH:${{ github.workspace }}/local/bin
          
          # do not work check : https://trac.ffmpeg.org/wiki/HWAccelIntro#DXVA2
          # might need more than that
          # curl https://download.videolan.org/pub/contrib/dxva2api.h -o /opt/llvm-mingw/aarch64-w64-mingw32/include/dxva2api.h
          
          cd ffmpeg
          # sed -i 's/0x020100/0x030000/' ./configure
          ./configure --cross-prefix=aarch64-w64-mingw32- --arch=arm64 --target-os=mingw32 --enable-sdl --disable-doc --prefix=${{ github.workspace }}/local
          make -j16
          make install
      - name: archive
        run: |
          mkdir output
          cp ${{ github.workspace }}/local/bin/*.exe ${{ github.workspace }}/local/bin/*.dll output
          # tar cfz all.tar.gz ${{ github.workspace }}/local/bin
      - uses: actions/upload-artifact@v3
        with:
          name: ffmpeg-wos-arm64
          path: output
